.container {
   position: relative;
   transition: transform 0.2s;

}

.container:hover {
   transform: scale(1.07);
   cursor: pointer;
}

.img {
   display: block;
   width: 15.5rem;
   height: 21.8rem;
   object-fit: cover;
   border-radius: 3px;
}

.infoWrapper {
   background-color: hsla(0, 0%, 13%, 0.9);
   color: ivory;
   padding: 0.6rem;
   border-radius: 0 0 3px 3px;
   position: absolute;
   width: 100%;
   transform: translate(0, -100%);
}

.showInfo {
   margin-top: 1.2rem;
   display: flex;
   justify-content: space-between;
}

.showInfo p {
   display: flex;
   align-items: center;
   gap: 0.4rem;
}

.showInfo p span {
   font-weight: 600;
   color: #ffc205;
}

.starImg {
   width: 1.3rem;
   height: 1.3rem;
}