.container {
   width: 100%;
   display: flex;
}

.img {
   display: block;
   width: 25.5rem;
   height: 95vh;
   object-fit: cover;
   border-radius: 3px;
}


.infoWrapper {
   padding: 0 2rem;
}

.link {
   text-decoration: none;
   color: #131313;
}

.link:hover {
   /* color: #f54337; */
   text-decoration: underline;
   text-underline-offset: 0.3rem;
   width: fit-content;
}

.infoWrapper {
   display: flex;
   flex-direction: column;
}

.infoWrapper h3 {
   margin-top: 1.5rem;
   line-height: 2rem;
   text-transform: uppercase;
}

.genres {
   margin-right: 1rem;
   color: #f54337;
}

.infoWrapper p {
   line-height: 1.6rem;
}

.span {
   font-weight: 500;
}

.episodeBtn {
   width: fit-content;
   margin: 1rem 0 0;
   padding: 0.4rem 1rem;
   font-size: 1rem;
   background-color: #f54337;
   color: ivory;
   border: 1px solid #f54337;
   border-radius: 3px;
}

.episodeBtn:hover {
   background-color: #fd2f20;
   border-color: #fd2f20;
   cursor: pointer;
}